<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!--<link type="text/css" href="{{ base_url('assets/comp/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">-->
<link type="text/css" href="{{ base_url('assets/comp/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url_theme }}css/theme.css" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/pace/flash.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/offline/offline-theme-chrome.css') }}" rel="stylesheet">
 
 <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url('assets/public/fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ base_url('assets/public/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ base_url('assets/public/css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ base_url('assets/public/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ base_url('assets/public/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ base_url('assets/public/css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ base_url('assets/public/css/jquery.fancybox.min.css') }}">

    <link rel="stylesheet" href="{{ base_url('assets/public/css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{ base_url('assets/public/fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ base_url('assets/public/css/aos.css') }}">

    <link rel="stylesheet" href="{{ base_url('assets/public/css/style.css') }}">

{{ comp_css|raw }}
<link rel="shortcut icon" type="image/x-icon" href="{{ favicon_url }}">
