<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    {% include 'layout-header.html' %}
    {% block css %}{% endblock %}
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="{{ site_url() }}">
                    <img src="{{ get_logo_config() }}"> <span class="visible-phone brand-txt">E-LEARNING </span><span class="visible-desktop visible-tablet brand-txt">{{ site_name }}</span>
                </a>
            </div>
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->

    <div class="wrapper">
        <div class="container">

            {% block content %}{% endblock %}

        </div>
    </div><!--/.wrapper-->

    <div class="footer">
        <div class="container">
            <center>
                <b class="copyright">{{ footer|raw }} </b><br />
                Media Digital Layanan Pembelajaran Online
            </center>
        </div>
    </div>
</div>

    {% include 'layout-footer.html' %}
    {% block js %}{% endblock %}
</body>
